.widget {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #FFFFFF;
    padding-left: 30px;
    width: 100%;
}

.widget div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.widget h3 {
    color: #FFFFFF;
    font-size: 40px;
}

.widget p {
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 280px) {
    .widget {
        font-size: 13px;
        padding-left: 10px;
    }

    .widget h3 {
        font-size: 24px;
    }
}